<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="privado.lisseth.pizzaricaapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapaSucursal"
            android:label="@string/title_activity_mapa_sucursal" >
        </activity>
        <activity
            android:name=".Iniciar_Sesion"
            android:label="@string/title_activity_iniciar__sesion" >
        </activity>
        <activity
            android:name=".Registrarse"
            android:label="@string/title_activity_registrarse" >
        </activity>
        <activity
            android:name=".Menu_Administrador"
            android:label="@string/title_activity_menu__administrador" >
        </activity>
        <activity
            android:name=".Producto_Pizza"
            android:label="@string/title_activity_producto__pizza" >
        </activity>
        <activity
            android:name=".Nueva_Sucursal"
            android:label="@string/title_activity_nueva__sucursal" >
        </activity>
        <activity
            android:name=".Nuevo_Producto"
            android:label="@string/title_activity_nuevo__producto" >
        </activity>
        <activity
            android:name=".Producto_Bebida"
            android:label="@string/title_activity_producto__bebida" >
        </activity>
        <activity
            android:name=".Producto_Extra"
            android:label="@string/title_activity_producto__extra" >
        </activity>
    </application>

</manifest>
